body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0.9em;
  color: white;
  background-color: red;
  text-align: center;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 3em 1fr;
  color: white;
}

.anchor {
  text-decoration: none;
  color: black;
}

.titan {
  padding: 0 0.5em 0 0.5em;
  margin-top: 0.6em;
}