body {
  background-color: ;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.cont {
  display: flex;
  justify-content: space-between;
  text-align: center;
}


.amount {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 1.5em;
  margin-top: 0.9em;
  margin-right: 0.5em;
}

.x {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

.y {
  color: grey;
  font-size: 1.2em;
  margin-top: -0.3em;
}

.z {
  font-weight: 700;
}


.fixed {
  height: 4em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.1),
  0px 8px 16px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0.2em;
  left: 0;
  right: 0;
  background-color: white;
} 

.fixedflex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.icon {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  text-decoration: none;
  color: grey;
  align-items: center;
}

.fa {
  font-size: 1.5em;
  margin-left: 0em;
  padding-top: 0.2em;
}

#task {
  color: red;
}



.firstbox {
  background-color: red;
  padding: 1.5em 0 0.4em 0;
  border-bottom: solid #F5F6FF 0.3em;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
}
  
.grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
}

.textgrid {
  display: grid;
  grid-template-columns: 1.7fr 1fr
}

.order, .zero {
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
}

.order {
  padding-left: 1em;
}

.zero {
  padding-left: 1.7em;
}

.cart-basket {
  padding-left: 4em;
  position: relative;
}

.item-num {
  position: absolute;
  top: -0.5em;
  right: 1.2em;
  font-weight: bold;
  color: red;
  background-color: white;
  padding: 0.1em;
  margin-bottom: 0.3em;
  border-radius: 50%;
}

.shopping-cart {
  font-size: 0.8em;
}

.data, .asset {
  font-size: 0.7em;
  margin-top: 0.7em;
  color: white;
}

.data {
  padding-left: 2em;
}

.asset {
  padding-left: 3em;
}

.grid1 {
  margin-top: 1.6em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  
}

.all, .process, .completed, .freezing {
  margin: auto;
  font-size: 0.9em;
}

.no {
  margin-top: 0.5em;
}

   .digital,
    .digitalx {
      color: dimgrey;
      margin-top: 1.5em;
      background-color: white;
      padding: 0.5em 0;
    }

    .based {
      background-color: #ECECEC;
      padding-top: 0.5em;
      padding-bottom: 4.5em;
      padding-top: 4.5em;
    }

    .productbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 0.2em;
      column-gap: 0.2em;
      padding: 0;
    }

    .img {
      height: 70%;
      width: 100%;
      margin: 0;
    }

    .textcontainer {
      padding-left: 1em;
      background-color: white;
      margin: 0;
    }

    .wb {
      background-color: white;
      margin: 0;
    }

    .firstp,
    secondp {
      padding: 0;
      color: dimgrey;
      margin: 0;
    }

    .secondp {
      color: red;
      padding-bottom: 0.5em;
    }

    .digitalx {
      padding: 0.5em 0;
    }
    
    a {
      padding: 0;
      margin: 0;
      text-decoration-line: none;
    }
    
    
.allspan {
  height: em;
       margin-right: 0.8em;
       margin-left: 1.5em;
       padding: 0em;
       background: red;
       width: 0em;
       color: red;
       border: solid red 0.12em;

}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itemnum {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 0.8em;
  display: inline-block;
  color: white;
  margin-left: 1em;
  padding-bottom: 1em;
}

.fa-shopping-basket {
  font-size: 0.9em;
  margin-bottom: em;
  display: inline-block;
}

.fa-basket {
  display: inline-block;
}

.cartcontainer {
  padding-left: 1em;
  position: relative;
}