body {
  background-color: white;
  align-items: center;
  padding-bottom: 3em;
}

.fixed {
  height: 4em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.1),
  0px 8px 16px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0.2em;
  left: 0;
  right: 0;
  background-color: white;
} 


.fixedflex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.icon {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: grey;
  align-items: center;
}

.fa {
  font-size: 1.5em;
  margin-left: 0em;
  padding-top: 0.3em;
}

#home {
  color: white;
  background-color: red;
}


.easy {
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  margin-top: 1em;
}

.pix {
  align-items: center;
  margin: 1em 0 1em 0;
}

#img {
  display: flex;
  width: 90%;
  height: 8em;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.out{
 text-decoration: none;
} 

.same {
  border: none;
}

.pic{
  width: 5em;
  height: 5em;
  align-items: center;
  background-color: white;
}

button{
  background-color: white;
}

.new {
  width: 95%;
  height: 3em;
  align-items: center;
  margin: 2em auto ;
  display: grid;
  grid-template-columns: 4em 1fr;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.1),
  0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
  
}

#x {
  width: 1.5em;
  margin-left: 1em;
}

.cls {
  border: solid green 0.01em;
  text-decoration: none;
}

.p {
  color: red;
}


.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}

.images {
  width: 13em;
  height: 9em;
}

#btn {
  color: red;
  background-color: #F5FCFF;
}

span {
  color: black;
  font-weight: 600;
}

#golden {
  margin-top: -0.3em;
}

.member {
  font-weight: 700;
  margin: 2em 0 0.5em 1em;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.3em;
  row-gap: 2em;
  width: 100%;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 3em 1fr;
  place-items: center;
  margin-left: 1em;
}

.man1 {
  width: 2.5em;
  height: 2.5em;
  
}

.picture {
  margin-left: 0.5em;
}


.text {
  text-align: center ;
  height: 3em;
  letter-spacing: 0.05em
}

.box {
  width: 95%;
  margin-top: 3em;
  margin: auto;
  border-radius: 0.9em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.1),
  0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  background-color: #F7F7F7
}

.span {
  color: red;
}

.about {
  padding-left: 0.5em;
}

.grd {
  display: grid;
  grid-template-columns: 3em 1fr;
  padding: 0.3em 0;
  width: 90%;
  margin: 2.5em 0 1em 0.8em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#about {
  width: 2em;
  height: 2em;
}

.aboutus {
  font-weight: 700;
  
}

.us {
  margin: 0;
  padding: 0;
  padding-top: 0.3em;
  padding-left: -0.3em;
}

.last {
  background-color: #F7F7F7;
  
}

.grd1 {
  display: grid;
  grid-template-columns: 6em 6em;
  height: 7em;
  margin-bottom:2em;
}

.png {
  width: 4em;
  height: 4em;
  padding-left: -1em;;
}

.text1 {
  color: black;
  font-weight: 700;
  padding-left: 0;
  text-align:  center;
  padding-top: 1.8em;
}

.last {
  display: grid;
  grid-template-columns: 10em 10em;
  padding: 2em 0 2em 1.4em;
  column-gap: 1em;
  width: 90%;
  margin-left: 0.3em;
  border-radius: 0.5em;
}

.img1 {
  padding-left: 0em;
  padding-top: 1.8em;
  margin-left: 0;
}

a, .company, .rules, .info, .agency {
  padding-left: 0;
  text-decoration: none;
  border: none;
}