body {
  padding: 0;
  margin: 0;
}

.header {
  padding: 0.7em;
  color: white;
  background-color: red;
  text-align: center;
  display: grid;
  grid-template-columns: 3em 1fr;
  font-size: 0.8em;
}

.anchor {
  color: black;
  text-decoration: none;
}

.first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  height: 2.2em;
  border: solid #F4F4F4 0.08em;
}

img {
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.5em;
  margin-top: 0.2em;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.3em;
}

.shift {
  margin-left: 1em;
}

a {
  text-decoration: none;
  color: #3B3B3B;
  border: none;
  font-size: 0.8em;
}